.operator
{
	background-color: #808080;
	color: #FFFFFF;	
}
.between
{
	background-color: #008080;
	color: #FFFFFF;
}
.oneToOne
{
	background-color: #808000;
	color: #FFFFFF;
}
.logic
{
	background-color: #800000;
	color: #FFFFFF;
}
.where
{
	background-color: #800000;
	color: #FFFFFF;
}
.orderBy
{
	background-color: #005555;
	color: #FFFFFF;
}
.center
{
	text-align:center;
}		